* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.simple {
  text-align: center;
  padding: 1rem;
}
main {
  text-align: center;
}
header {
  background-color: yellow;
  margin-bottom: 2rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
    rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
footer {
  background-color: black;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  align-items: center;
}

#todo--input {
  padding: 0.5rem 13rem;
  border-radius: 1rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#add--btn {
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  background-color: black;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

#add--btn:hover {
  background-color: yellow;
  color: black;
}

ul {
  padding: 2rem;
  list-style: none;
  padding-bottom: 2rem;
}

li::after {
  content: " ";
  display: block;
  height: 1px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  border-radius: 10px;
  align-items: center;
  margin: auto;
  margin-top: 0.1rem;
}

li {
  padding-bottom: 1rem;
}

.delete--btn {
  border: none;
  border-radius: 1rem;
  background-color: black;
  color: #fff;
  padding: 0.2rem 1.4rem;
  cursor: pointer;
  margin-left: 55px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.delete--btn:hover {
  background-color: red;
}

.todo--div {
  margin: auto;
  width: 700px;
  margin-top: 1rem;
  /* box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px; */
  border-radius: 2rem;
}

.created {
  margin-bottom: 1rem;
}

.footer--icons img {
  width: 2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.azizbek {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.li--text {
  padding: 1rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  border-radius: 1rem;
}
.delete--all {
  background-color: black;
  color: #fff;
  border: none;
  padding: 0.5rem 17.5rem;
  border-radius: 1rem;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 8%) 0px 4px 12px;
  display: none;
}

.delete--all:hover {
  background-color: red;
}
